{% extend "base.html" %}
{% block title %}
    Головна сторінка
{% endblock title %}

{% block body %}
    <img src="static/img/page.JPG" alt="Моя перша картинка" width="350px" ALIGN="middle" title="WorldPizza">
    <h1 style="margin-bottom: 20px;">Ласкаво просимо до піцерії "WorldPizza"!</h1>
    <h3 style="margin-bottom: 10px;">Ми створюємо неповторні піци з найсвіжіших інгредієнтів, дотримуючись італійських традицій та власних унікальних рецептів.</h3>
    <h3 style="margin-bottom: 10px;">Кожна наша піца випікається в справжній дров'яній печі, що надає їй особливого аромату та неповторного смаку.</h3>
    <h3 style="margin-bottom: 10px;">Для вас ми відкриті щодня з 10:00 до 22:00, здійснюємо доставку за 60 хвилин або піца безкоштовно!</h3>
    <h3 style="margin-bottom: 10px;">Скуштуйте справжню італійську піцу, приготовану з любов'ю та натхненням нашими майстрами-піцайоло.</h3>
    <h3 style="margin-bottom: 10px;">Замовляйте онлайн або за телефоном: (099) 123-45-67 та отримайте 15% знижки на перше замовлення!</h3>
    <br>
    <a href="/menu/" class="btn btn-warning">Перейти в меню</a>
{% endblock body %}